<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE  mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="flow3.model.dao.TFlowMapper">
	<resultMap id="BaseResultMap" type="flow3.model.entity.TFlow">
            <result column="id" property="id" />
	        <result column="name" property="name" />
	        <result column="alias" property="alias" />
	        <result column="note" property="note" />
	        <result column="version" property="version" />
	        <result column="status" property="status" />
	        <result column="created_at" property="createdAt" />
	        <result column="updated_at" property="updatedAt" />
		</resultMap>  
    
    <!-- 表字段 -->
    <sql id="baseColumns">
         t.id
        , t.name
        , t.alias
        , t.note
        , t.version
        , t.status
        , t.created_at
        , t.updated_at
        </sql> 
    
    <!-- 查询全部 -->
    <select id="listAll" resultMap="BaseResultMap">
		SELECT         
        	<include refid="baseColumns" />
		FROM t_flow t
	</select>
 
 	<!-- 根据主键获取单条记录 -->
    <select id="getById" resultMap="BaseResultMap" parameterType="Integer">
		SELECT         
        	<include refid="baseColumns" />
		FROM t_flow t
		WHERE id = #{id}
	</select>

	<!-- 插入全部字段 -->
    <insert id="insert" parameterType="flow3.model.entity.TFlow"
		keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
	INSERT INTO t_flow
    <trim prefix="(" suffix=")" suffixOverrides=",">	 
        	        	    	name,
    	        	    	alias,
    	        	    	note,
    	        	    	version,
    	        	    	status,
    	        	    	created_at,
    	        	    	updated_at,
    	        </trim>
    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
        	        	        #{name},                   
    	        	        #{alias},                   
    	        	        #{note},                   
    	        	        #{version},                   
    	        	        #{status},                   
    	        	        #{createdAt},                   
    	        	        #{updatedAt},                   
    	        </trim>
	</insert>
    
    <!-- 插入不为NULL的字段 -->
    <insert id="insertIgnoreNull" parameterType="flow3.model.entity.TFlow"
        keyProperty="id" keyColumn="id" useGeneratedKeys="true"
        >
        INSERT INTO t_flow    
        <trim prefix="(" suffix=")" suffixOverrides=",">	 

                                                                            <if test="name != null">
                   name,
                    </if>
                                                                <if test="alias != null">
                   alias,
                    </if>
                                                                <if test="note != null">
                   note,
                    </if>
                                                                <if test="version != null">
                   version,
                    </if>
                                                                <if test="status != null">
                   status,
                    </if>
                                                                <if test="createdAt != null">
                   created_at,
                    </if>
                                                                <if test="updatedAt != null">
                   updated_at,
                    </if>
                                    </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">            
                                                                            <if test="name != null" >
                    #{name},                    
                    </if>
                                                                <if test="alias != null" >
                    #{alias},                    
                    </if>
                                                                <if test="note != null" >
                    #{note},                    
                    </if>
                                                                <if test="version != null" >
                    #{version},                    
                    </if>
                                                                <if test="status != null" >
                    #{status},                    
                    </if>
                                                                <if test="createdAt != null" >
                    #{createdAt},                    
                    </if>
                                                                <if test="updatedAt != null" >
                    #{updatedAt},                    
                    </if>
                                    </trim>
    </insert>

	<!-- 更新,更新全部字段 -->
    <update id="update" parameterType="flow3.model.entity.TFlow">
    UPDATE t_flow
     <set>		
                                     name=#{name},        
                                alias=#{alias},        
                                note=#{note},        
                                version=#{version},        
                                status=#{status},        
                                created_at=#{createdAt},        
                                updated_at=#{updatedAt},        
                   </set>	
    WHERE id = #{id}
    </update>  
    
    
    <!-- 更新不为NULL的字段 -->
    <update id="updateIgnoreNull" parameterType="flow3.model.entity.TFlow">
    UPDATE t_flow
    <set>
    	                                                <if test="name != null" >
                name=#{name},                 
                </if>
                                                <if test="alias != null" >
                alias=#{alias},                 
                </if>
                                                <if test="note != null" >
                note=#{note},                 
                </if>
                                                <if test="version != null" >
                version=#{version},                 
                </if>
                                                <if test="status != null" >
                status=#{status},                 
                </if>
                                                <if test="createdAt != null" >
                created_at=#{createdAt},                 
                </if>
                                                <if test="updatedAt != null" >
                updated_at=#{updatedAt},                 
                </if>
                        </set>
    WHERE id = #{id}
    </update>

		
	<!-- 根据主键删除记录 -->
	<delete id="delete" parameterType="flow3.model.entity.TFlow">
		UPDATE t_flow
		SET is_deleted=1
		WHERE id = #{id}
	</delete>


</mapper>